<section class="content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12">
        <div class="card">
          <div class="card-header">
            <h3 class="card-title mt-2">Cartões de Crédito</h3>
            <%= link_to  '<i class="fa fa-plus"></i> Adicionar'.html_safe, new_card_path, class: 'btn btn-primary float-right', data: { turbo_frame: 'remote_modal' }%>
          </div>

          <div class="card-body">
            <table class="table table-bordered">
              <thead>
                <tr>
                  <th>Descrição</th>
                  <th>Bandeira</th>
                  <th>Limite</th>
                  <th class="text-center">Ações</th>
                </tr>
              </thead>
              <tbody>
                <% @cards.each do |card| %>
                <tr>
                  <td><%= card.description %></td>
                  <td><%= card.flag %></td>
                  <td><%= card.limit%></td>
                  <td class="text-center">
                    <%= link_to '<i class="fas fa-edit"></i>'.html_safe, edit_card_path(card), data: { turbo_frame: 'remote_modal' } %>
                  </td>
                </tr>
                <% end %>
              </tbody>
            </table>
          </div>

          <div class="card-footer clearfix">
            <div class="row justify-content-between align-items-center">
              <%== pagy_info @pagy %>
              <%== pagy_bootstrap_nav(@pagy) %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>