<section class="content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12">
        <div class="card">
          <div class="card-header">
            <h3 class="card-title mt-2">Categorias</h3>
            <%= link_to '<i class="fa fa-plus"></i> Adicionar'.html_safe, new_category_path, class: 'btn btn-primary float-right', data: { turbo_frame: 'remote_modal'} %>
          </div>

          <div class="card-body">
            <table class="table table-bordered">
              <thead>
                <tr>
                  <th>Nome</th>
                  <th>Ícone</th>
                  <th>Cor</th>
                  <th class="text-center">Ações</th>
                </tr>
              </thead>
              <tbody>
                <% @categories.each do |category| %>
                <tr>
                  <td class="align-middle"><%= category.name %></td>
                  <td class="align-middle"><i class="<%= category.icon %>"></i></td>
                  <td class="align-middle"><i class="fas fa-circle" style="color: <%= category.color %>"></i></td>
                  <td class="text-center">
                    <%= button_to '<i class="fas fa-pencil-alt"></i>'.html_safe, edit_category_path(category), method: :get, class: 'rounded-circle bg-light hover-overlay', data: { turbo_frame: 'remote_modal' } %>
                    <%= button_to '<i class="fas fa-trash-alt"></i>'.html_safe, category, method: :delete, class: 'rounded-circle bg-light hover-overlay', data: { turbo_confirm: 'Você tem certeza?' } %>
                  </td>
                </tr>
                <% end %>
              </tbody>
            </table>
          </div>

          <div class="card-footer clearfix">
            <div class="row justify-content-between align-items-center">
              <%== pagy_info @pagy %>
              <%== pagy_bootstrap_nav(@pagy) %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>