<%= form_with(model: transaction) do |f| %>
  <div data-turbo="false">
    <div class="row">
      <div class="col-md-8">
        <div class="form-group">
          <%= f.label :description, "Descrição" %>
          <%= f.text_field :description, class: 'form-control', placeholder: 'Amazon' %>
        </div>    
      </div>
      <div class="col-md-4">
        <div class="form-group">
          <%= f.label :date, "Data" %>
          <%= f.text_field :date, class: 'form-control', placeholder: '05/12/2022' %>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-4">
        <div class="form-group">
          <%= f.label :card, "Cartão de Crédito" %>
          <%= f.collection_select :card_id, Card.all, :id, :description, { include_blank: 'Selecione' }, { class: 'form-select' }%>
        </div>
      </div>
      <div class="col-md-4">
        <div class="form-group">
          <%= f.label :invoice_id, "Fatura" %>
          <%= f.collection_select :invoice_id, [], [], [], { include_blank: 'Selecione' }, { class: 'form-select' } %>
          <p class="text-primary white-text mt-1" id="invoice-input-action"><i class="fas fa-plus"></i> Adicionar</p>          
        </div>
      </div>
      <div class="col-md-4">
        <div class="form-group">
          <%= f.label :category, "Categoria" %>
          <%= f.collection_select :category_id, Category.all, :id, :description, { include_blank: 'Selecione' }, { class: 'form-select' } %>
        </div>
      </div>
    </div>
    <h3>Items</h3>
    <%= f.fields_for :transaction_items do |ff| %>
      <div id="transaction-items">
        <%= render 'item_attributes', f: ff %>
      </div>
    <% end %>
    <div class="btn btn-primary" id="add-item"><i class="fas fa-plus"></i> Adicionar</div>
    <div class="btn btn-danger" id="remove-item"><i class="fas fa-times"></i> Remover</div>
      
    <div class="float-right">
      <%= link_to "Voltar", transactions_path, class: 'btn btn-secondary' %>
      <%= f.submit "Salvar", class: 'btn btn-success' %>
    </div>
  </div>
<% end %>

<%= javascript_include_tag 'transaction_items' %>
<%= javascript_include_tag 'dinamic_invoices' %>