<section class="content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12">
        <div class="card">
          <div class="card-header">
            <h3 class="card-title mt-2">Despesas</h3>
          </div>

          <div class="card-body">
            <table class="table table-bordered">
              <thead>
                <tr>
                  <th>Situação</th>
                  <th>Descrição</th>
                  <th>Valor</th>
                  <th class="text-center">Ações</th>
                </tr>
              </thead>
              <tbody>
                <% @expenses.each do |expense| %>
                <tr>
                  <td class="align-middle"><%= expense.status %></td>
                  <td class="align-middle"><%= expense.description %></td>
                  <td class="align-middle"><%= concatenate_brazilian_real_sign(expense.invoice.value.round(2)) %></td>
                  <td class="text-center"></td>
                </tr>
                <% end %>
              </tbody>
            </table>
          </div>

          <div class="card-footer clearfix">
            <div class="row justify-content-between align-items-center">
              <%== pagy_info @pagy %>
              <%== pagy_bootstrap_nav(@pagy) %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>