<!DOCTYPE html>
<html>
  <head>
    <title>Finances</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <div class='wrapper'>
      <%= render 'shared/topnavbar' %>
      <%= render 'shared/sidebar' %>
      <div class='content-wrapper'>
        <%= render 'shared/flash_messages' %>
        <%= render 'shared/content_header' %>
        <%= yield %>
        <%= turbo_frame_tag "remote_modal", target: "_top" %>
      </div>
    </div>

    <script src="https://adminlte.io/themes/v3/plugins/jquery/jquery.min.js"></script>
    <script src="https://adminlte.io/themes/v3/dist/js/adminlte.min.js?v=3.2.0"></script>
  </body>
  </body>
</html>
